<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

    <title>친해지길바래</title>

    <!-- style -->
    <link rel="stylesheet" href={{url_for('static', filename="css/style.css" )}}>
    <script>
        function moreview() {
            if ($("#card-body").css("display") == "block") {
                // post-box를 가리고
                $("#card-body").hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#more").text("포스팅 박스 열기");
            } else {
                // 아니면(눈에 보이지 않으면) post-box를 펴라
                $("#card-body").show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#more").text("포스팅 박스 닫기");
            }
        }
    </script>
</head>

<body>

    <h1 class="title">친해지길 바래</h1>
    <!-- nav var -->
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">최신글</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Best</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">잡담</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">식사/야식</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">공동구매</a>
            </li>
        </ul>
    </div>

    <!-- 게시판 목록 -->
    <div class="wrap">
        {% for board in boards %}

            <h1>{{  board.no}}</h1>
        <div class="card">
            <h5 class="card-header">
                <div class="card-header__column">
                    {{  board.user_id  }}
                </div>
                <div class="card-header__column">
                    {{  board.date  }}
                </div>
            </h5>
            <div>
                <div class="card-body-header">
                    <div class="card-body-header_column">
                        {{  board.category  }}
                    </div>
                    <div class="card-body-header__column">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </button>
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{  board.title  }}</h5>
                <h6 class="card-text">{{  board.content }}</h6>
                <button type="button" class="btn btn-primary btn-sm">더보기</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {%for i in range(boards | length)%}
                <li class="page-item"><a class="page-link" href="board/?page={{  loop.index  }}" onclick="paging_board()">{{ loop.index }}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
    </nav>
    
    <div>
        <button type="button" class="btn btn-primary btn-sm">로그아웃</button>
        <a href="createBoard"><button type="button" class="btn btn-primary btn-sm">글쓰기</button></a>
    </div>
    
</body>

</html>